body{
  background-color: #F1F5F9 !important;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.card{
  border: 1px solid rgba(5, 5, 5, 0.116) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-container{
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b2b2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858585; 
}